# IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Archivos del Sistema
.DS_Store
Thumbs.db

# Java compilado y logs
*.class
*.log

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
